.header, header {
    background: #06c!important;
    height:65px;
}

/*.logo,logo {
    background: url(../icon.png) no-repeat no-repeat 3px 0px;
    background-size: 38px;
    color: #fff!important;
    padding: 0 0px 9px 52px;
    line-height: 48px;
}*/

.logo,logo {
    background: url(../press/press-kit/img/logotype-plain_white.svg) no-repeat no-repeat 3px 3px;
    background-size: 218px;
    text-indent: 49px;
    min-width: 225px;
    padding: 0 0px 11px 227px !important;
    line-height: 24px !important;
}
.logo, logo:hover{background-color:rgba(0, 0, 0, 0.12)}

.content{top:65px}

::selection {
    background: #06c!important;
    color: #fff!important;
}

.h0, h0 {
    color: #06c!important;
}

.h1, h1 {
    color: #06c!important;
}

.navmenu {
    color: #06c!important;
}
.navmenu ul > li:hover {
    background: #06c!important;
}

ul.tabs{border-bottom:1px solid #06c}
ul.tabs li a:active{color:#06c80;border-bottom:4px solid #06c80}
ul.tabs li.current a{color:#06c;border-bottom:4px solid #06c}

button.color{background:#06c;color:#fff;font-weight:bold;padding:10px;font-size:16px}
button.color:hover{background:#fff;color:#06c}

.btn-primary {
    background-color:#06c!important;
}

.footer,footer{background:#06c}

@media(max-width:8in){
.header, header {
    height:53px;
}
.logo, logo {
    font-size: 25px;
    line-height: 35px;
    background-size: 32px;
    padding: 0 0px 9px 42px;
}
}
